@model QuestionDetailsModel

@{
    ViewData["Title"] = "Question Details";
}

@section Styles{
    <link rel="stylesheet" src="~/stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@stackoverflow/stacks-editor/dist/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@@stackoverflow/stacks/dist/css/stacks.min.css">
    <link rel="stylesheet" href="~/stackoverflow/stacks/dist/css/stacks.min.css" />
    <link rel="stylesheet" href="~/stackoverflow/stacks/dist/css/stacks.css"/>
}

<div class="container">
    <div class="s-page-title">
        <h1 class="s-page-title--header">@Model.title</h1>
    </div>
    <div class="row">
        <div class="col-md-8">

            <div class="user-inputs ">
            <pre class="s-code-block language-html">
                    @Html.Raw(Model.Body)
            </pre>
            </div>

            <hr />
            <dl class="row">
                <dt class="col-sm-3">Creator:</dt>
                <dd class="col-sm-9">@Model.CreatorUserId</dd>

                <dt class="col-sm-3">Creation Date:</dt>
                <dd class="col-sm-9">@Model.CreationDateTime</dd>

                <dt class="col-sm-3">View Count:</dt>
                <dd class="col-sm-9">@Model.ViewCount</dd>

                <dt class="col-sm-3">Vote Count:</dt>
                <dd class="col-sm-9">@Model.VoteCount</dd>

                <dt class="col-sm-3">Answer Count:</dt>
                <dd class="col-sm-9">@Model.AnswerCount</dd>
            </dl>
        </div>
    </div>
</div>

 @section Scripts{
    <script src="~/stackoverflow/stacks/dist/components/code-block/code-block.fixtures.d.ts" /></script>
 }